.header {
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  background-image: url(../Image/bachHero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-button {
  display: flex;
  align-items: center;
}
.search-bar {
  margin-right: 0px;
  width: 160px;
  height: 42px;
  padding: 13px;
  border: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.search-button {
  display: flex;
  margin-right: 8px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #212121;
  margin-left: 0px;
  padding: 0px 5px;
  height: 42px;
  cursor: pointer;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.search-icon {
  margin-left: 0px;
  width: 16px;
  height: 16px;
  fill: none;
}
.search-bar:focus {
  outline: none;
  border: none;
}
.home-button,
.library-button {
  padding: 14px 32px;
  border-radius: 100px;
  margin-right: 8px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #212121;
}
.home-button:hover,
.library-button:hover {
  color: #fff;
  background-color: #212121;
  cursor: pointer;
}
.watched-button {
  margin-left: auto;
  margin-right: 8px;
}

.watched-button,
.queue-button {
  padding: 14px 32px;
  border-radius: 100px;
  margin-right: 8px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #212121;
}

.watched-button:hover,
.queue-button:hover {
  color: #fff;
  background-color: #b92f2c;
  cursor: pointer;
}
