.open {
  display: flex;
}

.backdrop {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  opacity: 0.7;
}

.backdrop:hover {
  opacity: 1;
}

.backdrop:before,
.backdrop:after {
  position: absolute;
  left: 5px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: var(--black-color);
}

.backdrop:before {
  transform: rotate(45deg);
}
.backdrop:after {
  transform: rotate(-45deg);
}

.closeModalAnimation {
  animation: closing 0.6s linear none;
}
.openModalAnimation {
  animation: opening 0.6s linear none;
}

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-wrapper {
    display: flex;
  }
}

#modal {
  background-color: var(--white-background);
  margin: 20px;
  position: relative;
  padding: 48px 20px;
  width: 280px;
  height: 100%;
  border-radius: 3px;
  height: max-content;
}
@keyframes opening {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes closing {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  #modal {
    width: 882px;
    height: 768px;
    margin: auto;
    padding: 42px 28px;
  }
}

@media screen and (min-width: 1200px) {
  #modal {
    width: 882px;
    height: 768px;
    padding: 50px 30px;
  }
}

#content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  align-items: start;
  //overflow-y: scroll;
  width: 100%;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  #content {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  #content {
    gap: 30px;
  }
}

#left-content {
  height: auto;
  width: auto;
}

#movie-card {
  width: auto;
  height: auto;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  #movie-card {
    overflow: hidden;
  }
}

#film-img {
  width: 240px;
  height: 357px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f2936d;
}

@media screen and (min-width: 768px) {
  #film-img {
    width: 264px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  #film-img {
    width: 396px;
    height: 478px;
  }
}

.img-posters {
  position: relative;
  transition: 0.4s;
}

#right-content {
  align-items: start;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  #right-content {
    padding: 0;
    margin-top: 20px;
    max-width: 50%;
    margin: 0;
  }
}

#film-title {
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  #film-title {
    font-size: 30px;
    line-height: 1.17;
  }
}

.right-descr-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-style: normal;
  line-height: 1.33;
  color: var(--description-color);
  margin-bottom: 10px;
}

.right-descr-content:last-child {
  margin-bottom: 0;
}

span {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.33;
}

#about {
  margin-bottom: 20px;
  line-height: 1.67;
}

#img {
  width: 100%;
}

#votesLaLaBand {
  display: flex;
  //justify-content: space-between;
}

#voteRating {
  // margin-left: auto;
  margin-right: 5px;
}

#voteCount {
  margin-left: 5px;
  //margin-right: 118px;
}

#description {
  margin-bottom: 20px;
}

#voteRating,
#voteCount,
#popul,
#origTitle,
#genre {
  color: var(--black-color);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
}

.btn_wrapper {
  //FOR BUTTONS
  display: flex;
  gap: 20px;
  align-self: center;

  @media screen and (min-width: 768px) {
    gap: 15px;
    align-self: flex-start;
  }

  @media screen and (min-width: 1200px) {
    gap: 30px;
  }
}

.add-to-watched-btn,
.add-to-queue-btn {
  text-transform: uppercase;
  line-height: 1.33;
  font-size: 12px;
  color: var(--black-color);
  border: 1px solid var(--black-color);
  padding: 14px 32px;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #b92f2c;
    color: var(--white-background);
    border-color: transparent;
  }
}

.added {
  background-color: #b92f2c;
  color: var(--white-background);
  border-color: transparent;
}

.add-to-watched-btn {
  @media screen and (min-width: 480px) and (min-width: 768px) {
    //  padding: 6px 13px;
    // max-width: 110px;
  }
}
.add-to-queue-btn {
  @media screen and (min-width: 480px) and (min-width: 768px) {
    // padding: 13px 13px;
    // max-width: 110px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
