@import './common';
@import './example';
@import './header';
@import './body';
@import './numbers';
@import './footer';
@import './modal';
@import './variables';
@import './smallDiv';
@import './daynight';
* {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
